<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

   	<head>
    	<meta charset="UTF-8" />
      	<title>Person List</title>
   	</head>
   
   	<body>
		<div th:fragment="content">
			
			<!-- tab dynamic generation -->
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li th:each ="person : ${persons}" class="nav-item">
					<a class="nav-link" th:id="${person.nom} + '-tab' " data-toggle="tab" th:href="'#' +${person.nom}" role="tab" th:aria-controls="${person.nom}" aria-selected="true" th:utext="${person.nom}"></a>
			    </li>
			</ul>
			
			<!-- view dynamic generation -->
			<div class="tab-content" id="myTabContent">
			
				<!-- tab for each player -->
				<div th:each ="person : ${persons}" class="tab-pane fade" th:id="${person.nom}" role="tabpanel" th:aria-labelledby="${person.nom} + '-tab' ">
					
					<br/>
					<div class="container-fluid">
						
						<!-- |PLAYER| |STAT	|VALUE 	|INFO		| -->
						<!-- |X|X	|-|X	|X 		|X|X|X|X|X|X| -->
						<div class="row">
							 <div class="col-1 player-cell" th:utext="${person.perso}"></div>
							 <div class="col-1 player-cell" th:utext="'Destin : '+ ${person.destin}"></div>
							 <div class="col-1 empty-cell"></div>
							 <div class="col-1 stat-cell">courage</div>
							 <div class="col-1 value-cell" th:utext="${person.courage}"></div>
							 <div class="col-7 info-cell"> ??? </div>
						</div>
						
						<!-- |PLAYER| |STAT	|VALUE 	|INFO		| -->
						<!-- |X|X	|-|X	|X 		|X|X|X|X|X|X| -->
						<div class="row">
							 <div class="col-2 player-cell" th:utext="${person.origine}"></div>
							 <div class="col-1 empty-cell"></div>
							 <div class="col-1 stat-cell">intelligence</div>
							 <div class="col-1 value-cell" th:utext="${person.intelligence}"></div>
							 <div class="col-7 info-cell"> ??? </div>
						</div>
						
						<!-- |PLAYER| |STAT		VALUE 	|INFO		| -->
						<!-- |X|X	|-|X		|X 		|X|X|X|X|X|X| -->
						<div class="row">
							 <div class="col-2 player-cell" th:utext="${person.metier}"></div>
							 <div class="col-1 empty-cell"></div>
							 <div class="col-1 stat-cell">charisme</div>
							 <div class="col-1 value-cell" th:utext="${person.charisme}"></div>
							 <div class="col-7 info-cell"> ??? </div>
						</div>
						
						<!-- |	   |STAT	|VALUE 	|INFO		| -->
						<!-- |-|-|-|X		|X 		|X|X|X|X|X|X| -->
						<div class="row">
							 <div class="col-3 empty-cell"></div>
							 <div class="col-1 stat-cell">adresse</div>
							 <div class="col-1 value-cell" th:utext="${person.adresse}"></div>
							 <div class="col-7 info-cell"> ??? </div>
						</div>
						
						<!-- |EV    | |STAT		|VALUE 	|INFO		| -->
						<!-- |X|X	|-|X		|X 		|X|X|X|X|X|X| -->
						<div class="row">
							 <div class="col-2 ev-cell" th:utext="${person.ev + '/' + person.evMax}"></div>
							 <div class="col-1 empty-cell"></div>
							 <div class="col-1 stat-cell">force</div>
							 <div class="col-1 value-cell" th:utext="${person.force}"></div>
							 <div class="col-7 info-cell"> ??? </div>
						</div>
						
						<!-- |	   |STAT	|VALUE 	|INFO		| -->
						<!-- |-|-|-|X		|X 		|X|X|X|X|X|X| -->
						<div class="row">
							 <div class="col-3 empty-cell"></div>
							 <div class="col-1 stat-cell">esquive</div>
							 <div class="col-1 value-cell" th:utext="${person.esquive}"></div>
							 <div class="col-7 info-cell"> ??? </div>
						</div>
						
						<!-- |EA    | |STAT		|VALUE 	|INFO		| -->
						<!-- |X|X	|-|X		|X 		|X|X|X|X|X|X| -->
						<div class="row">
							 <div class="col-2 ea-cell" th:utext="${person.ea + '/' + person.eaMax}"></div>
							 <div class="col-1 empty-cell"></div>
							 <div class="col-1 stat-cell">attaque</div>
							 <div class="col-1 value-cell" th:utext="${person.attaque}"></div>
							 <div class="col-7 info-cell"> ??? </div>
						</div>
						
						<!-- |	   |STAT	|VALUE 	|INFO		| -->
						<!-- |-|-|-|X		|X 		|X|X|X|X|X|X| -->
						<div class="row">
							 <div class="col-3 empty-cell"></div>
							 <div class="col-1 stat-cell">parade</div>
							 <div class="col-1 value-cell" th:utext="${person.parade}"></div>
							 <div class="col-7 info-cell"> ??? </div>
						</div>
						
						<!-- |NV    | |STAT		|VALUE 	|INFO		| -->
						<!-- |X|X	|-|X		|X 		|X|X|X|X|X|X| -->
						<div class="row">
							 <div class="col-2 level-cell" th:utext="'NV ' + ${person.niveau} + ' : ' + ${person.experience} + '/100'"></div>
							 <div class="col-1 empty-cell"></div>
							 <div class="col-1 stat-cell">resi magique</div>
							 <div class="col-1 value-cell" th:utext="${person.resistanceMagique}"></div>
							 <div class="col-7 info-cell"> ??? </div>
						</div>
						
						<!-- |	   |STAT	|VALUE 	|INFO		| -->
						<!-- |-|-|-|X		|X 		|X|X|X|X|X|X| -->
						<div class="row">
							 <div class="col-3 empty-cell"></div>
							 <div class="col-1 stat-cell">magie PHY</div>
							 <div class="col-1 value-cell" th:utext="${person.magiePhysique}"></div>
							 <div class="col-7 info-cell"> ??? </div>
						</div>
						
						<!-- |OR    | |STAT		|VALUE 	|INFO		| -->
						<!-- |X|X	|-|X		|X 		|X|X|X|X|X|X| -->
						<div class="row">
							 <div class="col-1 money-cell">pieces OR</div>
							 <div class="col-1 money-cell-value" th:utext="${person.or}"></div>
							 <div class="col-1 empty-cell"></div>
							 <div class="col-1 stat-cell">magie PSY</div>
							 <div class="col-1 value-cell" th:utext="${person.magiePsychique}"></div>
							 <div class="col-7 info-cell"> ??? </div>
						</div>
						
						<!-- |OR |					 | -->
						<!-- |X|X|-|-|-|-|-|-|-|-|-|-| -->
						<div class="row">
							 <div class="col-1 money-cell">pieces ARGENT</div>
							 <div class="col-1 money-cell-value" th:utext="${person.argent}"></div>
							 <div class="col-10 empty-cell"></div>
						</div>
						
						<!-- competence for each player -->
						<!-- |   |					 | -->
						<!-- |-|-|X|X|X|X|X||X|X|X|X| -->
						<div class="row">
						 	<div class="col-3 empty-cell"></div>
						 	<div class="col-2 value-cell groove-border" th:utext="Competence"></div>
						 	<div class="col-4 value-cell groove-border" th:utext="Bonus"></div>
						 	<div class="col-3 value-cell groove-border" th:utext="Malus"></div>
						</div>
						<div th:each ="competence : ${person.competences}" th:id="${competence.id}">
							<div class="row">
							 	<div class="col-3 empty-cell"></div>
							 	<div class="col-2 value-cell-left bold groove-border" th:utext="${competence.nom}"></div>
							 	<div class="col-4 value-cell-left groove-border" th:utext="${competence.bonus}"></div>
							 	<div class="col-3 value-cell-left groove-border" th:utext="${competence.malus}"></div>
							</div>
						</div>
						
		      		</div>
				</div>
			</div>
			
	   </div>
   </body>
</html>