<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

   	<head>
    	<meta charset="UTF-8" />
      	<title>Person List</title>
   	</head>
   
   	<body>
		<div th:fragment="content">
			
			<!-- tab dynamic generation -->
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li th:each ="person : ${persons}" class="nav-item">
					<a class="nav-link" th:id="${person.nom} + '-tab' " data-toggle="tab" th:href="'#' +${person.nom}" role="tab" th:aria-controls="${person.nom}" aria-selected="true" th:utext="${person.nom}"></a>
			    </li>
			</ul>
			
			<!-- view dynamic generation -->
			<div class="tab-content" id="myTabContent">
				<div th:each ="person : ${persons}" class="tab-pane fade" th:id="${person.nom}" role="tabpanel" th:aria-labelledby="${person.nom} + '-tab' " th:utext="${person.nom}">...</div>
			</div>
			
	      	<div>
	         	<table border="1">
	            	<tr>
						<th>nom</th>
		               	<th>personnage</th>
		               	<th>energie vitale</th>
		               	<th>energie astrale</th>
		               	<th>or</th>
		               	<th>attaque</th>
		               	<th>parade</th>
		               	<th>niveau</th>
		               	<th>experience</th>
		               	<th>courage</th>
		               	<th>intelligence</th>
		               	<th>charisme</th>
		               	<th>adresse</th>
		               	<th>esquive</th>
		               	<th>resistance magique</th>
		               	<th>magie physique</th>
		               	<th>magie psychique</th>
		               	<th>force</th>
		               	<th>origine</th>
		               	<th>metier</th>
		               	<th>sexe</th>
		               	<th>destin</th>
	            	</tr>
	            	<tr th:each ="person : ${persons}">
	               		<td th:utext="${person.nom}">...</td>
		               	<td th:utext="${person.perso}">...</td>
		               	<td th:utext="${person.ev + '/' + person.evMax}">...</td>
		               	<td th:utext="${person.ea + '/' + person.eaMax}">...</td>
		               	<td th:utext="${person.or}">...</td>
		               	<td th:utext="${person.attaque}">...</td>
		               	<td th:utext="${person.parade}">...</td>
		               	<td th:utext="${person.niveau}">...</td>
		               	<td th:utext="${person.experience}">...</td>
		               	<td th:utext="${person.courage}">...</td>
		               	<td th:utext="${person.intelligence}">...</td>
		               	<td th:utext="${person.charisme}">...</td>
		               	<td th:utext="${person.adresse}">...</td>
		               	<td th:utext="${person.esquive}">...</td>
		               	<td th:utext="${person.resistanceMagique}">...</td>
		               	<td th:utext="${person.magiePhysique}">...</td>
		               	<td th:utext="${person.magiePsychique}">...</td>
		               	<td th:utext="${person.force}">...</td>
		               	<td th:utext="${person.origine}">...</td>
		               	<td th:utext="${person.metier}">...</td>
		               	<td th:utext="${person.sexe}">...</td>
		               	<td th:utext="${person.destin}">...</td>
	            	</tr>
	      		</table>
	      	</div>
	      
	   </div>
   </body>
</html>