<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="content">
		
		<div id="accordion">
		
			<!-- TUTORIEL -->
			<div class="card">
				<div class="card-header done-story quest-title-done">
					<a class="card-link" data-toggle="collapse" href="#collapseOne">
						Tutoriel [TERMINE]
					 </a>
     			 </div>	
     			 <div id="collapseOne" class="collapse show" data-parent="#accordion">
     			 	<div class="card-body">
						Suite à leur rencontre lors d'un évenement organisé par la Caisse Des Donjon à Glargh, 4 aventuriers Arcana, Ixion, Magmoss et Azenok 
						forment un groupe de fortune et décident de partir enssembles à l'aventure.
						
						Ils font la conaissance du CCDD39, conseiller de la caisse des donjon de rang 39 qui leur donne comme mission de ramener un coffret 
						scellé magiquement au siège de la caisse des donjon dans la forêt de schlipak.
						
						ils arrivèrent au siège de la guilde des donjons suite à un trajet mouvementé durant lequel ils se seront battus avec des loups, ravagé la taverne du village de Ranuf en se battant 
						avec des clodos et affrontés quelques gobelins à la lisière de la foret.
						
						Les 4 aventuriers remirent le colis à l'accueil de la caisse au donjon au conseiller de rang 30 qui les remercia et les invitant à profiter d'une fête de bienvenue se tenant à 
						l'étage ou l'alcool gratuit coulat à flots.
					</div>
    			</div>
    		</div>
    			
			<!-- QUETE 1 : LA CUITE -->
			<div class="card">
				<div class="card-header quest-title-ongoing open-story">
					<a class="card-link" data-toggle="collapse" href="#collapseTwo">
						Quete 1 : La cuite [EN COURS]
					 </a>
     			 </div>	
     			 <div id="collapseTwo" class="collapse show" data-parent="#accordion">
     			 	<div class="card-body">
						<p>Les 4 connards profitères des festivités plus que de raison, ce qui les mis dans un état d'ébriété très avancé.</p> 
						
						<p>Les aventuriers se reveillent le lendemain en fin de matinée avec une grosse gueule de bois dans le noir complet.</p> 
						
						<p>Après un reveil plus que difficile, les aventuriers comencèrent a explorer le batiment dans lequel ils se sont reveillés</p>
						
						<p>Suite à une rencontre avec des zombie évitée, le non sauvetage d'un pauvre homme enchainé à un mur dans le donjon, un pière d'acide déclanché 
						par magmoss et une bataille avec des hommes de main bien enervés, le groupe est un état un peu préoccupant</p>
						
						<p>Il doit alors continuer son périple avec un Ixion emmasculé et un magmoss qui a épuisé toutes ses reserves magiques...</p>
						
						<h2>NOTES</h2>
						<ul>
							<li>Reprendre la carte avec son état actuel d'exploration => ne pas oublier que la suite du chemin est éclairé</li>
							<li>2 mecs restants - apeurés qui sont partis se cacher dans la pièce des gardes (reste mec a main nue et mec avec une massue)</li>
							<li>piège magique electrique</li>
							<li>voir pour les rats en fonction de l'état du groupe</li>
							<li>indice passage secret si alchimiste capturé, sinon garde, sinon mur poussièreux</li>
						</ul>
					</div>
    			</div>
    		</div>
		</div>
	</div>
</body>
</html>