<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Header</title>
	
</head>

<body>
	<div class="container">
		<div th:fragment="header">
			<nav class="navbar navbar-default">
				<div class="cotainer-fluid">
					<div class="navbar-header">
						<ul class="nav navbar-nav">
						<li><a href="#" th:href="@{/personList}">Personnages</a></li>
						<li><a href="#" th:href="@{/story}">Scenario</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</div>
</body>

</html>