/**** COMMON ****/

/* Default background */
body {
	color: #000000;
}

.rgba-gradient {
  background: -moz-linear-gradient(90deg, rgba(230, 255, 242, 0.6), rgba(230, 242, 255, 0.69) 100%);
  background: -webkit-linear-gradient(90deg, rgba(230, 255, 242, 0.6), rgba(230, 242, 255, 0.69) 100%);
  background: linear-gradient(to 90deg, rgba(230, 255, 242, 0.6), rgba(230, 242, 255, 0.69) 100%);
}

footer {
	margin-top: 20px;
}

/* table */
table {
    border-collapse: collapse;
}

table th, table td {
    padding: 5px;
}

.card {
	margin-bottom: 20px;
}

/**** CUSTOM ****/

/* header fragment */
.menuButton {
	margin-right: 10px;
	background-color: #b3e6ff;
}

/* story view */
.done-story {
	background: -moz-linear-gradient(45deg, rgba(204, 255, 153, 0.6), rgba(230, 255, 242, 0.69) 100%);
  	background: -webkit-linear-gradient(45deg, rgba(204, 255, 153, 0.6), rgba(230, 255, 242, 0.69) 100%);
  	background: linear-gradient(to 45deg, rgba(204, 255, 153, 0.6), rgba(230, 255, 242, 0.69) 100%);
	border:1px solid #b3ffe0;
}

.open-story {
	background: -moz-linear-gradient(45deg, rgba(179, 230, 255, 0.6), rgba(230, 242, 255, 0.69) 100%);
  	background: -webkit-linear-gradient(45deg, rgba(179, 230, 255, 0.6), rgba(230, 242, 255, 0.69) 100%);
  	background: linear-gradient(to 45deg, rgba(179, 230, 255, 0.6), rgba(230, 242, 255, 0.69) 100%);
	border:1px solid #99ddff;
}

.quest-title-done{
	color: #009900;
}

.quest-title-ongoing{
	color: #0066ff;
}

/* player view */

.player-cell{
	background-color: #b3d9ff;
	text-align: center;
	font-weight: bold;
}

.stat-cell{
	background-color: #c1c1d7;
	font-weight: bold;
}

.value-cell{
	background-color: #c1c1d7;
	font-weight: bold;
	text-align: center;
}

.info-cell{
	background-color: #d0d0e1;
}

.ev-cell {
	background-color: #66ff66;
	text-align: center;
	font-weight: bold;
}

.ea-cell {
	background-color: #4da6ff;
	text-align: center;
	font-weight: bold;
}

.level-cell {
	background-color: #e0e0eb;
	text-align: center;
	font-weight: bold;
}

.money-cell{
	background-color: #ffff80;
	font-weight: bold;
}

.money-cell-value{
	background-color: #ffff80;
	text-align: center;
	font-weight: bold;
}	

